<div class="m-7">
  <h1 class="text-3xl font-bold text-center">Hello!</h1>
  <nav>
    <ul class="w-52">
      <li
        *ngFor="let pet of pets"
        [ngClass]="{
          'bg-green-300': pet.petCount >= 70,
          'bg-red-400': pet.petCount < 70
        }"
      >
        <a class="underline" *ngIf="pet" routerLink="{{ pet.id }}"
          >{{ pet.name }} {{ pet.petCount }}
          <span *ngIf="pet.petCount >= 100; else elseBlock">👑</span>
          <ng-template #elseBlock>🤡</ng-template>
        </a>
      </li>
      <li><a class="underline" routerLink="pet-creator">Create pet </a></li>
    </ul>
  </nav>

  <router-outlet></router-outlet>
</div>
